<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform
  processPath="C:\deploy\ocr_api_new\HPUni-OCR-vietnamese-handwriting\.venv\Scripts\python.exe"
  arguments="-m uvicorn api:app --app-dir C:\deploy\ocr_api_new\HPUni-OCR-vietnamese-handwriting --host 127.0.0.1 --port %HTTP_PLATFORM_PORT%"
  stdoutLogEnabled="true"
  stdoutLogFile="C:\inetpub\ocr-api-new\logs\python.log"
  startupTimeLimit="600"
  startupRetryCount="10">
  <environmentVariables>
    <environmentVariable name="PYTHONPATH" value="C:\deploy\ocr_api_new\HPUni-OCR-vietnamese-handwriting" />
    <environmentVariable name="API_KEY" value="change-me" />
    <environmentVariable name="MAX_UPLOAD_MB" value="25" />
    <environmentVariable name="MAX_PAGES" value="20" />
  </environmentVariables>
</httpPlatform>

  </system.webServer>
</configuration>
