# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Logs
*.log
log/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Env files
.env
.env.*
